<div class="container-fluid">
	<h1><p align="center">- ADVERT -</p></h1>
    <div class="row">
            <div class="col-lg-2">
                SOMETHING HERE ?
            </div>
            <div class="col-lg-8">
                <div ng-repeat="journeyResult in journeyResults">
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-if="journeyResult.Direct=='0'">
                            <h3>Travel from {{journeyResult.Origin}}, {{journeyResult.OriginState}} <span class="flag-icon flag-icon-{{journeyResult.OriginCountryCode}}"></span> to {{journeyResult.Destination}}, {{journeyResult.DestinationState}} <span class="flag-icon flag-icon-{{journeyResult.DestinationCountryCode}}"></span> - <span>(Multi-step Route)</span></h3>
                            Journey started: {{journeyResult.LeaveDateTime}}<br>Journey ended: {{journeyResult.ArrivalDateTime}}
                        </div>
                        <div class="panel-heading" ng-if="journeyResult.Direct=='1'">
                            <h3><span class="{{journeyResult.ModeIcon}}"></span> {{journeyResult.ModeOfTransport}} from {{journeyResult.Origin}} <span class="flag-icon flag-icon-{{journeyResult.OriginCountryCode}}"></span> to {{journeyResult.Destination}} <span class="flag-icon flag-icon-{{journeyResult.DestinationCountryCode}}"></span> - <span>(Direct Route)</span></h3>
                            <b>Journey started:</b> {{journeyResult.LeaveDateTime}} <b>Journey ended:</b> {{journeyResult.ArrivalDateTime}}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4><span class="glyphicon glyphicon-comment"></span> Summary:</h4> "{{journeyResult.Instruction}}"
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6" ng-if="journeyResult.Direct=='0'">
                                    <h4><span class="glyphicon glyphicon-list"></span> Included Steps:</h4>
                                    {{journeyResults.children}}
                                    <!-- journey steps -->
                                        <ul>
                                            <li ng-repeat="child in journeyResult.Children">
                                                <a href="#/travel-from-{{child.Origin}}-to-{{child.Destination}}">
                                                {{child.Origin}} to {{child.Destination}}</a>
                                            </li>
                                        </ul>
                                </div>
                                <div class="col-lg-6"> 
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4><span class="glyphicon glyphicon-calendar"></span> Journey Date:</h4> <i>3 hours</i>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4><span class="glyphicon glyphicon-time"></span> Journey Duration:</h4> <i>3 hours</i>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4><span class="fa fa-money"></span> Price Paid:</h4> {{journeyResult.Price}} {{journeyResult.CurrencyUsed}}
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4><span class="glyphicon glyphicon-user"></span> Added by:</h4> {{journeyResult.Author}}
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <h4><b><span class="glyphicon glyphicon-stats"></span> Community Feedback</b></h4>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#addJourney">
                                        <span class="glyphicon glyphicon-thumbs-up"> </span> Upvote
                                    </button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalHorizontal">
                                        <span class="glyphicon glyphicon-thumbs-down"> </span> Downvote
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <h3><span class="glyphicon glyphicon-thumbs-up"></span> {{journeyResult.PositiveVotes}} upvotes</h3>
                                    <h3><span class="glyphicon glyphicon-thumbs-down"></span> {{journeyResult.NegativeVotes}} downvotes</h3>
                                </div>
                                <div class="col-lg-4">
                                    <h3><span class="glyphicon glyphicon-envelope"></span> Share via email</h3>
                                    <h3><span class="fa fa-facebook"></span> Share on Facebook</h3>
                                </div>
                                <div class="col-lg-4">
                                    <h3><span class="fa fa-twitter"></span> Share via Twitter</h3>
                                    <h3><span class="fa fa-whatsapp"></span> Share on Whatsapp</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <button type="button" class="close" 
                                    data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        Thanks for your feedback!
                                    </h4>
                                </div> 
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <!-- START OF FORM -->
                                    <form class="form-horizontal" role="form">
                                        <div class="row">
                                            <div class="radio col-lg-12">
                                                <h4>Why did you downvote this {{journeyResult.ModeOfTransport}} journey from {{journeyResult.Origin}} to {{journeyResult.Destination}}?</h4>
                                            </div>
                                        </div>
                                        <div class="divcontainer"> 
                                            <i class="fa fa-toggle-on" style="font-size:24px;color:green" data-toggle="collapse" href="#collapsecontent"></i> I agree with price
                                        </div>
                                        <div class="collapse" id="collapsecontent">
Something here
                                        </div>
                                        <script>
                                            $(document).ready(function () {
    $('.fa').click(function () {
        $(this).toggleClass("fa fa-toggle-on").toggleClass("fa fa-toggle-off");
    });
});
</script>
                                        
<label>
<input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" checked="checked"/>
<b>Price</b> - only one step was involved in the journey.
</label>
<label>
<input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" checked="checked"/>
<b>Journey Duration</b> - only one step was involved in the journey.
</label>
<label>
<input name="collapseGroup" type="radio" data-toggle="collapse" data-target="#collapseOne" checked="checked"/>
<b>Innaccurate</b> - only one step was involved in the journey.
</label>
                                    </form>
                                    <!-- END OF FORM -->
                                </div>
                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal -->
                </div>
                <div ng-show="!journeyResults.length">
                    <h3>No results found.</h3>
                    <h2>Be the first to add the details of a journey and earn cash while you travel!</h2>
                </div>
        </div>
        <div class="col-lg-2">
            DISPLAY HERE IDEAS:
            <ul>
                <li>User panel: Number of XP</li>
                <li>Most Popular Journeys</li>
                <li>Recently Added Journeys</li>
                <li>Contact site owner for advertisiting</li>
            </ul>
        </div>
    </div>
    <h1><p align="center">ADVERT</p></h1>
</div>