{{formData.progress=14;""}}
<div class="form-group text-center">
    <div class="radio">
        <h4><label>
            <input name="collapseGroup" type="radio" checked="checked" ng-model="formData.Direct" data-ng-value="true"/>
            <b>Direct route</b> - only one step was involved in the journey.
        </label></h4>
    </div>
    <div class="radio">
        <h4><label>
            <input name="collapseGroup" type="radio" ng-model="formData.Direct" data-ng-value="false"/>
        <b>Indirect route</b> - multiple steps were involved in the journey.</label></h4>
    </div>
</div>


<ul ng-if="formData.originCityName && formData.destinationCityName" class="pager">
    <h4>{{formData.originCityName}} to {{formData.destinationCityName}}.</h4>
    <li>
        <a ng-if="!formData.Direct" ui-sref="form.indirect">
            <span class="glyphicon glyphicon-circle-arrow-right"></span> Next
        </a>
        <a ng-if="formData.Direct" ui-sref="form.step-3">
            <span class="glyphicon glyphicon-circle-arrow-right"></span> Next
        </a>
    </li>
</ul>

<ul ng-if="formData.originCityName && formData.destinationCityName" class="pager">
    <h4>{{formData.originCityName}} to {{formData.destinationCityName}}.</h4>
    <li ng-if="formData.Direct">
        <a ui-sref="form.step-3">
        Next <span class="glyphicon glyphicon-circle-arrow-right">Next</span>
        </a>
    </li>
</ul>

<div ng-if="!formData.originCityName">
    <ul class="pager">
        <li>
            <a ng-if="formData.Direct" ui-sref="form.step-2">
                Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
            <a ng-if="!formData.Direct" ui-sref="form.indirect">
                Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </li>
    </ul>
</div>

<!--
<div ng-if="formData.originCityName && formData.destinationCityName" class="form-group row text-center">
    <h4>{{formData.originCityName}} to {{formData.destinationCityName}}.</h4>
    <div class="col-lg-4">
    </div>
    <div ng-if="formData.Direct" class="col-lg-4">
        <a ui-sref="form.step-3" class="btn btn-block btn-success">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
    <div ng-if="!formData.Direct" class="col-lg-4">
        <a ui-sref="form.indirect" class="btn btn-block btn-success">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
<div ng-if="!formData.originCityName" class="form-group row">
    <div class="col-lg-4">
    </div>
    <div ng-if="formData.Direct" class="col-lg-4">
        <a ui-sref="form.step-2" class="btn btn-block btn-success">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
    <div ng-if="!formData.Direct" class="col-lg-4">
        <a ui-sref="form.indirect" class="btn btn-block btn-success">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
    <div class="col-lg-4">
    </div>
</div>
-->