{{formData.progress=42;""}}
<div class="form-group row text-center">
    <div class="col-lg-12">
        <div>
          <div><b>Where did your journey end?</b></div>
          {{formData.destinationCityId = chosenDestinationPlaceDetails.place_id;""}}
          {{formData.destinationCountry = chosenDestinationPlaceDetails.country.toLowerCase();""}}
          {{formData.destinationCityName = chosenDestinationPlace;""}}
          <div><input class="location-box form-control" ng-model="chosenDestinationPlace" details="chosenDestinationPlaceDetails" googleplace/></div>
      </div>
    </div>
</div>
<div class="form-group row text-center" ng-if="formData.destinationCityName">
    <div class="col-lg-12">
        <div><i class="fa fa-check" style="color:green;" aria-hidden="true"></i> {{chosenDestinationPlace}} <span class="flag-icon flag-icon-{{formData.destinationCountry}}"></span></div>
    </div>
</div>

<ul class="pager">
    <li>
        <a ui-sref="form.step-2">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </a>
    </li>
    <li>
        <a ng-if="formData.destinationCityName" ui-sref="form.step-3">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </li>
</ul>