{{formData.progress=70;""}}
<div class="form-inline text-center">
    <div class="form-group">
        <label for="sel1">How long did your journey take?</label>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-3">
                <div class="input-group">
                    <select class="form-control input-lg" id="selectHour" ng-model="formData.journeyDurationHours">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                    </select>

                    <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                    <select class="form-control input-lg" id="selectMinute" ng-model="formData.journeyDurationMinutes">
                        <option>00</option>
                        <option>15</option>
                        <option>30</option>
                        <option>45</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="formData.Price > 0.01">
        <h4>{{formData.journeyDurationHours}} hours {{formData.journeyDurationMinutes}} minutes.</h4>
    </div>
</div>
            
<ul class="pager">
    <li>
        <a ui-sref="form.journeyArrivalDate">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </a>
    </li>
    <li>
        <a ui-sref="form.step-5">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </li>
</ul>