{{formData.progress=56;""}}
<div class="form-group text-center">
    <div class="form-group">
    <label for="sel1">Which mode of transport did you use?</label>
    <select class="form-control input-lg" id="selectMode" ng-model="formData.ModeOfTransport">
        <option value="taxi">Private Taxi</option>
        <option value="shared taxi">Shared Taxi</option>
        <option value="coach">Shuttle</option>
        <option value="Bus">MotoTaxi</option>
        <option value="airplane">Rickshaw</option>
        <option value="airplane">Airplane</option>
        <option value="Bus">Public Bus</option>
        <option value="coach">Coach</option>
        <option value="metro">Metro/Subway</option>
        <option value="large boat">Train</option>
        <option value="bicycle">Bicycle</option>
        <option value="large boat">Large Boat</option>
        <option value="shared taxi">Motorized Boat</option>
        <option value="taxi">Motorcycle</option>
        <option value="bicycle">Walking</option>
        <option value="metro">Hitchhike</option>
        <option value="other">Other</option>
    </select>
    </div>
    <div ng-if="formData.ModeOfTransport == 'other'">
        <label for="otherInput">Please specify:</label>
        <input id="otherInput" class="form-control input-md" type="text" ng-class="todo"/>
    </div>

    <ul class="pager">
        <li>
            <a ui-sref="form.step-destination">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
            </a>
        </li>
    <li>
        <a ui-sref="form.step-4">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </li>
    </ul>