{{formData.progress=70;""}}

Yo: {{formData.journeyDurationHours}}

<div class="form-group text-center">
    <label for="sel1">What time did you finish your journey?</label>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <select class="form-control input-lg" id="selectHour" ng-model="formData.journeyDurationHours">
                    <option>00</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                </select>
                <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                <select class="form-control input-lg" id="selectMinute" ng-model="formData.journeyDurationMinutes">
                    <option>00</option>
                    <option>15</option>
                    <option>30</option>
                    <option>45</option>
                </select>
            </div>
        </div>
    </div>
</div>

<ul class="pager">
    <li>
        <a ui-sref="form.journeyArrivalDate">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
        </a>
    </li>
    <li>
        <a ui-sref="form.step-5">
        Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </li>
</ul>