body { padding-top:0px; }

/* navbar */
.navbar-blue {
    background-color: blue important!;
    border-color: #E7E7E7;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
    max-height:500px;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.carousel-caption-lower {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.full-width {
    width: 100%;
}

.up{
  color: green;
}

.down{
  color:red;
}

input[type="number"] {
   width:75px;
}

#selectCurrencyModal{
 width:50px;   
}

.selectCurrency{
 width:250px;   
}

.pricePaid{
 width:25px;   
}

#selectCountryModal{
 width:200px;   
}

#selectTime{
 width:50px;   
}

#selectMinute{
 width:50px;   
}

#selectHour{
 width:50px;   
}

#selectYear{
 width:100px;   
}

#selectMonth{
 width:120px;   
}

#selectDay{
 width:50px;   
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.white {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: white;
}

.grey {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-color: #f2f2f2;
}

.glyph-main {
    font-size: 100px;
}

.glyph-green {
    color: green;
}

.glyph-orange {
    color: darkorange;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.location-box {
    height: 50px;
}

.place-select {
    height: 50px;
}

.padded {
    padding-right: 30px;
    padding-left: 30px;
}

/* BUTTON STYLES */

.btn-green {
    background-color: limegreen;
    color: white;
}

.btn-green:hover {
        background-color: #1EB91E;
    color: white;
}